<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770362541838-ul2g6mrdc7rebcukq0l1ueets1kdo3q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770362541838-ul2g6mrdc7rebcukq0l1ueets1kdo3q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjEdWvg-ll49BBgBFTBWHRNgyWL07BXo</string>
	<key>GCM_SENDER_ID</key>
	<string>770362541838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFcmToken</string>
	<key>PROJECT_ID</key>
	<string>test-fcm-firebase-74889</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fcm-firebase-74889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770362541838:ios:8cde4aaa0eb42aa5c8b95f</string>
</dict>
</plist>